*{
    user-select: none;
    cursor: pointer;
}
.todo{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo>h1{
    text-align: center;
    color: #E8D9D8;
    font-size: 6em;
    margin: 0;
}

