/*.Drawer{*/
/*    position: fixed;*/
/*}*/

.Drawer .drawer_wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    display: none;
    z-index: 100;

    /*animation: hideIndex 1s;*/
    /*animation: 2s;*/
}
.Drawer .drawer_wrap .dome_drawer{
    width: 30vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top:0;
    right:0;

}
.Drawer .drawer_wrap.show,.dome_drawer{
    display: block!important;

}
.dome_drawer.show{
    animation: showIndex 1s;
}
.hide{
    display: none;

}
@keyframes showIndex{
0%{ opacity: 0; transform: translate(30vw,0) }
100%{opacity: 1; transform: translate(0, 0) }
}
@keyframes hideIndex{
    100%{opacity: 1; transform: translate(30vw, 0) }
    0%{ opacity: 0; transform: translate(0,0) }

}
